.show-more-bar
	.container-fluid
		.row-fluid
			.span12
				=link_to "SHOW MORE", users_stream_container_path(:id => id, :query => query), :class => "btn blue load-more-bar load-more", :remote => true