.navbar.another-nav
	.container-fluid
		.row-fluid.header-template-container
			.span12
				-@user
				-if @user.profile_picture.present?
					=image_tag @user.profile_picture, :height => "100px", :width => "100px", :class=> "brand"
				.brand.profile-template-custom-styling
					=@user.username
				%ul(class="nav")
					%li
						%table
							%tr
								%td
									Photos
							%tr
								%td
									=link_to "#{@user.counts.media}", user_path, :class => "explore-pictures-tabs", :remote => true
					%li
						%table
							%tr
								%td
									Followers
							%tr
								%td
									=link_to "#{@user.counts.followed_by}", user_path(:id => @user[:id], :query => "followers"), :class => "explore-pictures-tabs", :remote => true
					%li
						%table
							%tr
								%td
									Following
							%tr
								%td
									=link_to "#{@user.counts.follows}", user_path(:id => @user[:id], :query => "following"), :class => "explore-pictures-tabs", :remote => true
					%li
						-if @user_relationship
							-if @user_relationship.outgoing_status == "follows"
								=link_to "Following", unfollow_user_path(:username => @user.username, :user_id => @user[:id]), :class => "follow-unfollow-button unfollow"
							-elsif @user_relationship.outgoing_status == "none"
								=link_to "Follow", follow_user_path(:username => @user.username, :user_id => @user[:id]), :class => "follow-unfollow-button follow"


