.stream
	.container-fluid
		-media.each_by(3) do |photos|
			.row-fluid.stream-row
				-photos.each do |photo|
					.span4.stream-span
						.thumb
							=link_to image_tag(photo.images.low_resolution.url, :width => '265', :height => '265', :class => "thumb-decoration"), photo_path(photo.id), :target => "_blank"
							.photo-hover-content-bottom
								.row-fluid
									.span12
										%table
											%tr
												%td
													-if photo.caption.present?
														=image_tag photo.caption.from.profile_picture, :alt => "", :width => '44', :height => '44', :class => "photo-hover-content-bottom-profile-image"
												%td(class = "photo-hover-content-bottom-details")
													%table
														%tr
															%em #{time_ago_in_words(Time.at(photo.created_time.to_i))} ago
														%tr(class = "photo-hover-content-bottom-details-stats")
															%td
																%i(class="icon-heart")
																=photo.likes[:count]
															%td
																%i(class="icon-comment")
																=photo.comments[:count]

												


