= render :partial => "explore_pictures_tabs"
.whitespace25
=render :partial => "stream", :locals => { :media => @media }
.get-more-stream
.whitespace25
.container-fluid
	.row-fluid
		.span12
			=link_to "SHOW MORE", stream_path, :class => "btn blue load-more-bar load-more", :remote => true
.whitespace50
.whitespace50


