= render :partial => "explore_pictures_tabs"
.whitespace25
=render :partial => "stream", :locals => { :media => @media }
.get-more-stream
.container-fluid
	.row-fluid
		.span3
		.span9
			%h1=link_to "LOAD MORE", stream_path, :class => "load-more", :remote => true
			%h1=link_to "LOADING ...", "#", :class => "loading"
.whitespace50
.whitespace50


