= render :partial => "explore_pictures_tabs"
.whitespace25
= render :partial => "stream_container", :locals => {:media => @media, :querytype => @querytype, :query => @query, :latitude => @latitude, :longitude => @longitude}
.container-fluid
	.row-fluid
		.span4
		.span8
			=image_tag "loading.gif", :class => "loading-stream", :width => '200', :height => '200'


