.comments-digest
	-comments.each do |comment|
		.comment
			.row-fluid
				.span2
					=link_to (image_tag comment["from"]["profile_picture"], :width => "50px", :height => "50px", :alt => "", :class => "profile-picture-thumb"), user_path(comment["from"]["username"])
				.span10
					#{link_to comment["from"]["username"], user_path(comment["from"]["username"]), :class => "profile-username"} :
					=comment["text"]
	.comments-count-and-show-more
		=link_to "Show More", photos_get_all_comments_path(:photo_id => photo_id), :class => "comments-digest-show-all", :remote => true