.photo-box-comments-box
	.row-fluid
		.span12
			.comments-count-and-show-more
				#{photo["comments"]["count"]} Comments
	.row-fluid
		.span12
			=render :partial => "comments_show", :locals => {:photo_id => photo["id"], :comments => photo["comments"]["data"]}