-if current_user
	.container-fluid
		.row-fluid
			.span12.comment-and-like-box-container
				=form_tag "/photos/comment", :id => "create-comment-form", :remote => true do
					= text_area_tag "comment_text", "", :cols => "10", :rows => "2", :class => "comment-text"
					= hidden_field_tag(:photo_id, photo_id)
					= submit_tag "Comment", :class => "btn btn-large"