.span12
	.likes-digest
		-likes = @photo.likes.data
		-likes.each do |like|
			=link_to (image_tag like.profile_picture, :width => "50px", :height => "50px", :alt => "", :class => "profile-picture-thumb"), user_path(like.id), :target => "_blank"
		=link_to "Show More", "#", :class => "likes-digest-show-all", :remote => true
	.likes-all
		-likes = Instagram.media_likes(@photo[:id])
		-likes.each do |like|
			=link_to (image_tag like.profile_picture, :width => "50px", :height => "50px", :alt => "", :class => "profile-picture-thumb"), user_path(like.id), :target => "_blank"