<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=387913564604509";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>


/ %a.popup{:href=>"https://twitter.com/intent/tweet?text=See this instagram picture : #{root_url}photos/#{@photo.id} @crocura"}
/ 	=image_tag "rails.png"
/ %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
/ %a{:href=>"http://www.facebook.com/share.php?u=#{root_url}photos/#{@photo.id}", :target => "_blank"}
/ 	=image_tag "rails.png"
/ %script{:src => "https://apis.google.com/js/plusone.js"}
/ %g:plusone