.whitespace25
.container-fluid
	.row-fluid
		.span12.photo-box			
			.span7
				.row-fluid
					.span12
						.photo
							= image_tag @photo.images.standard_resolution.url
					.span12
						-if @photo.caption.present?
							%strong=@photo.caption.text
				.photo-box-details
					.row-fluid
						.span3
							.row-fluid
								.span12
									= link_to image_tag(@photo.user.profile_picture), user_path(@photo.user.id), :height => "150px", :width => "150px"
								.span12
									#{link_to @photo.user.username, user_path(@photo.user.id), :class => "photo-box-details-username"}
						.span9
							.row-fluid
								.span7
								.span5
									=render :partial => "photos/share_buttons"
							.whitespace25

			.span5
				=render :partial => "likes", :locals => {:photo => @photo}
				.whitespace10
				.login-box
					=render :partial => "photos/login_box"
				.comment-and-like-box
					=render :partial => "photos/comment_and_like_box", :locals => {:photo_id => @photo[:id]}
				.whitespace10
				=render :partial => "comments", :locals => {:photo => @photo}


