@import "colors.css.less";

.custom-middle-header-container {
	min-height: 100px;	
	background: @blueDarkish;
}

.middle-header {
	padding: 4% 2% 3% 13%;
	color: #F3F3F3;
	font-family: 'Lucida Sans Unicode';
	font-size: 180%;

	li {
		display: inline-block;
		margin-left: 8px;
	}
}
