@import "twitter/bootstrap/bootstrap";
@import "colors.css.less";

.custom-middle-header-container {
	height: 100px;	
	background: @blueDarkish;
}

.middle-header {
	padding-top: 30px;
	padding-left: 45px;
	color: #F3F3F3;
	//font-family: 'Crete Round', serif;
	font-family: 'Lucida Sans Unicode';
	font-size: 170%;

	ul {
		li {
			padding-right: 5px;
			display: inline;
		}
	}

	ul li img {
		padding-bottom: 3px;
	}
}
