@import "twitter/bootstrap/bootstrap";
@import "colors.css.less";

.custom-middle-header-container {
	min-height: 100px;	
	background: @blueDarkish;
	padding: 10px;
}

.middle-header {
	max-width: 767px;
	min-width: 480px;
	padding-left: 15%;
	color: #F3F3F3;
	font-family: 'Lucida Sans Unicode';
	font-size: 170%;

	.middle-header-text {
		padding-top: 40px;
	}

	.middle-header-image {
		padding-top: 32px;
	}
}
