// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors.css.less";

.whitespace25 {
	height: 25px;
}

.whitespace50 {
	height: 50px;
}

.stream-row {
	padding-left: 45px;
	//margin-bottom: 25px !important;
}

.stream-span {
	margin-left: 0px !important;
	margin-bottom: 55px !important;
	margin-right: 55px !important;
	width: 265px !important;
	height: 265px !important;
}

.thumb-decoration {
	background: #F5F5F5;
	border: 1px solid #D8D8D8;
	padding: 10px !important;
	-webkit-box-shadow: 4px 1px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 4px 1px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 4px 1px 4px rgba(0, 0, 0, 0.5);
}

.btn.blue.load-more-bar {
	width: 97%; //100% is overstretching it to the right to go out of the container
	line-height: 3em;
	font-weight: bold;
	border: 1px solid rgba(0, 0, 0, 0.2);	
	background-color: #127EAF;
	background: -webkit-linear-gradient(top, #25A8E3 0%, #1C92C8 50%, #188BC1 50.1%, #127EAF 100%);
	background: -moz-linear-gradient(top, #25A8E3 0%, #1C92C8 50%, #188BC1 50.1%, #127EAF 100%);
	border-color: #127EAF #1878A5 #126A94 #1878A5;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 130%;
	color: white;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);

	&:hover {
		color: white;
		text-decoration: none;
	}
}


.loading-stream {
		display: none;
}

.thumb {
	position: relative;

	.photo-hover-content-bottom {
		display: none; 
		position: absolute; 
		bottom: 10px;
		left: 11px;
		right: 10px;
		background: #0066C5;
		background: -webkit-linear-gradient(top, #0066C5 0%, #0066C5 50%, #A4A4A4 50.1%, #A4A4A4 52%, #0066C5 52.1%, #0066C5 100%);
		background: -moz-linear-gradient(top, #0066C5 0%, #0066C5 50%, #A4A4A4 50.1%, #A4A4A4 52%, #0066C5 52.1%, #0066C5 100%);
		height: 60px;
		width: 100%;
		opacity: .9;
		color: black;

		.photo-hover-content-bottom-profile-image {
			background: #F1F1F1;
			margin-top: 5px;
			margin-left: 5px;
			border-radius: 1px 1px 1px 1px;
			padding: 3px;
		}

		.photo-hover-content-bottom-details {
			padding-left: 30px;
			padding-top: 5px;
			color: white;

			.photo-hover-content-bottom-details-stats {

				td {
					padding-top: 10px;
					padding-right: 10px;
				}
			}
		}

		ul {
			li {
				float: left;
				display: block;
			}
		}

	}

	&:hover {
		.photo-hover-content-bottom {
			display: block;
		}
	}
}







