// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors.css.less";

.whitespace25 {
	height: 25px;
}

.whitespace50 {
	height: 50px;
}
.explore-pictures-tabs {

	ul {
		padding-top: 15px;
		li {
			height: 50px !important;
			//background: -webkit-linear-gradient(top, #DAF0FA 0%, #C7ECFE 50%, #C0EBFF 50.1%, #B9E9FF 100%);
			//background: -webkit-linear-gradient(top, #DAF0FA 0%, #C7ECFE 50%, #C0EBFF 50.1%, #B9E9FF 100%);
			
			background: #C0EBFF;
			-moz-border-radius: 10px;
			border-radius: 10px;
			padding: 10px 10px 10px 10px;
			margin-left: 10px;
			margin-right: 10px;
			display: inline;
			font-family: 'Crete Round', serif;
			font-size: 150%;
			&:last-child {
				border-right: none;
			}
			a {
				color: @blueDark;
				text-decoration: none;

				&:hover {
					color: @gray;
				}
				&:active {
					color: @grayDarker;
				}
			}
		}
	}
}

.explore-pictures-indicator {
	font-family: 'Crete Round', serif;
	font-size: 150%;
	font-style: italic;
	color: @gray;
	padding-right: 20px;
	background: @siteBackgroundColor !important;
}
