.stream
	.container-fluid
		.row-fluid.user-followers-following-stream-row
			-media.each do |user|
				.span2.user-followers-following-stream-span
					.thumb
						= link_to image_tag(user.profile_picture, :width => '115', :height => '115', :class => "user-followers-following-thumb-decoration"), user_path(user.username)