.navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			.row-fluid
				.span7
					=link_to image_tag("Crocura Logo.png"), root_url, :class=> "brand"
					%ul(class="nav header-top")
						%li
							=link_to "How it Works", how_it_works_path
						%li
							-if current_user
								= link_to "Logout", signout_path
							-else
								=link_to "Sign In with Instagram", "/auth/instagram"
				.span2
				.span3
					%ul(class="nav header-top pull-right")
						%li(class="pull-right")
							=link_to "FAQ", faq_path
						%li(class="pull-right")
							=link_to "Help", help_path
						%li(class="pull-right")
							=link_to "About", about_path