.container-fluid
	.row-fluid.custom-middle-header-container
		.span12.middle-header
			.span4.middle-header-text
				Live. Love. Like. 
			.span4.middle-header-image
				=link_to image_tag("sign-in-with-instagram.png"), "/auth/instagram"
			.span4.middle-header-text
				Spread Happiness.